page-add-user {
	.rounded {
        border-radius: 5px !important;
        margin: auto;
        margin-top: 15px;
        border: 1px solid #243949;
        // height: 7.5vh;
    }

    button{
    	float: right;
    }
}
